<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th class="align-middle">MÃ ĐƠN HÀNG</th>
        <th class="align-middle">NGƯỜI MUA</th>
        <th class="align-middle">NGÀY MUA</th>
        <th class="align-middle">TỔNG TIỀN</th>
        <th class="align-middle">THANH TOÁN</th>
        <th class="align-middle">TÌNH TRẠNG</th>
        <th class="align-middle">HOẠT ĐỘNG</th>
      </tr>
    </thead>
    <tbody>
      <ng-template #noData>
        <tr>
          <td colspan="9" class="text-center">
            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
              colors="primary:#405189,secondary:#0ab39c" style="width: 72px; height: 72px">
            </lord-icon>
            <h5 class="mt-4">Sorry! No Result Found</h5>
          </td>
        </tr>
      </ng-template>
      <ng-container *ngIf="orders?.length; else noData">
        <tr *ngFor="let data of orders">
          <td>
            <a (click)="openModal(content, data)" class="text-body fw-bold" style="cursor: pointer"><u>{{ data.code
                }}</u></a>
          </td>
          <td>
            <p class="m-0">{{ data?.fullname }}</p>
          </td>
          <td>
            {{ data.create_time | date : "HH:mm dd/MM/yyyy" }}
          </td>

          <td>{{ data.total.toLocaleString("vi-VN") }}đ</td>
          <td>
            <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
                'badge-soft-danger': data.status_pay === 0,
                'badge-soft-success': data.status_pay !== 0
              }">{{
              data.status_pay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
              }}</span>
          </td>
          <td class="status">
            <span class="badge text-uppercase p-2" [ngClass]="{
                'badge-soft-warning': data.status === 0,
                'badge-soft-secondary': data.status === 1,
                'badge-soft-primary': data.status === 2,
                'badge-soft-success': data.status === 3,
                'badge-soft-danger': data.status === 4,
                'badge-soft-dark': data.status === 5
              }">
              {{
              data.status === 0
              ? "Chờ duyệt"
              : data.status === 1
              ? "Chuẩn bị hàng"
              : data.status === 2
              ? "Đang giao"
              : data.status === 3
              ? "Thành công"
              : data.status === 4
              ? "Đã hủy"
              : "Thất bại"
              }}</span>
          </td>
          <td>
            <ul class="list-inline hstack gap-2 mb-0">
              <li *ngIf="data.status === 0" class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                data-bs-placement="top" title="Xác nhận">
                <a (click)="confirm(data)" style="
                    cursor: pointer;
                    background-color: #0093a7;
                    padding: 5px 10px;
                    color: white !important;
                    border-radius: 5px;
                  " class="d-inline-block badge-soft-success">
                  Xác nhận
                </a>
              </li>
              <li *ngIf="data.status === 1" class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                data-bs-placement="top" title="Remove">
                <a (click)="inProgress(data)" class="badge-soft-success d-inline-block" style="
                    cursor: pointer;
                    background-color: #0093a7;
                    color: white !important;
                    padding: 5px 10px;
                    border-radius: 5px;
                  ">
                  Lên đơn hàng
                </a>
              </li>
              <li *ngIf="data.status === 0 || data.status === 1" class="list-inline-item" data-bs-toggle="tooltip"
                data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                <a (click)="cancel(data)" class="badge-soft-success d-inline-block" style="
                    cursor: pointer;
                    background-color: #ff5d5d;
                    padding: 5px 10px;
                    color: white !important;
                    border-radius: 5px;
                  ">
                  Hủy
                </a>
              </li>
              <li *ngIf="data.status === 2" class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                data-bs-placement="top" title="Remove">
                <a (click)="completed(data)" class="badge-soft-success d-inline-block" style="
                    cursor: pointer;
                    background-color: #0093a7;
                    color: white !important;
                    padding: 5px 10px;
                    border-radius: 5px;
                  ">
                  Giao thành công
                </a>
              </li>
              <li *ngIf="data.status === 2" class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover"
                data-bs-placement="top" title="Remove">
                <a (click)="failed(data)" class="badge-soft-success d-inline-block" style="
                    cursor: pointer;
                    background-color: #ff5d5d;
                    padding: 5px 10px;
                    color: white !important;
                    border-radius: 5px;
                  ">
                  Giao thất bại
                </a>
              </li>
              <li *ngIf="data.status === 3">
                <a (click)="exchange(data)" class="badge-soft-success d-inline-block" style="
                    cursor: pointer;
                    background-color: #0093a7;
                    padding: 5px 10px;
                    color: white !important;
                    border-radius: 5px;
                  ">
                  Tạo đơn trả hàng
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Chi tiết đơn hàng</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div *ngIf="order" class="card-body">
      <div *ngIf="order.status == 0" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/cllunfud.json" trigger="loop"
          colors="outline:#121331,primary:#646e78,secondary:#ebe6ef" style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng đang chờ duyệt</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
      <div *ngIf="order.status == 1" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/qzwudxpy.json" trigger="loop"
          colors="outline:#121331,primary:#ebe6ef,secondary:#ffc738,tertiary:#f24c00" style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng đang được chuẩn bị</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
      <div *ngIf="order.status == 2" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/iejknaed.json" trigger="loop"
          colors="outline:#121331,primary:#3a3347,secondary:#ffc738,tertiary:#ebe6ef,quaternary:#646e78"
          style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng đang được giao</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
      <div *ngIf="order.status == 3" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/iejknaed.json" trigger="loop"
          colors="outline:#121331,primary:#3a3347,secondary:#ffc738,tertiary:#ebe6ef,quaternary:#646e78"
          style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng được giao thành công</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
      <div *ngIf="order.status == 4" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/iejknaed.json" trigger="loop"
          colors="outline:#121331,primary:#3a3347,secondary:#ffc738,tertiary:#ebe6ef,quaternary:#646e78"
          style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng bị hủy</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
      <div *ngIf="order.status == 5" class="text-center">
        <!-- <lord-icon src="https://cdn.lordicon.com/iejknaed.json" trigger="loop"
          colors="outline:#121331,primary:#3a3347,secondary:#ffc738,tertiary:#ebe6ef,quaternary:#646e78"
          style="width:100px;height:100px">
        </lord-icon> -->
        <h5 class="fs-16 mt-2">Đơn hàng giao thất bại</h5>
        <p class="text-muted mb-0">
          <span class="badge badge-pill font-size-11 p-2" [ngClass]="{
              'badge-soft-danger': order.statusPay === 0,
              'badge-soft-success': order.statusPay !== 0
            }">{{
            order.statusPay === 0 ? "Chưa thanh toán" : "Đã thanh toán"
            }}</span>
        </p>
        <p class="text-muted mb-0">
          Phương thức thanh toán : {{ order?.paymentType }}
        </p>
        <p class="text-muted mb-0">
          Hình thức : {{ order?.saleForm ? "Tại quầy" : "Online" }}
        </p>
      </div>
    </div>
    <div *ngIf="order" class="modal-body">
      <p class="mb-2">
        Mã đơn hàng:
        <span class="text-primary">{{ order?.code }}</span>
      </p>
      <p class="mb-2">
        Người mua:
        <span class="text-primary">{{
          order?.shipName ? order?.shipName : order?.customer.fullname
          }}</span>
      </p>
      <p class="mb-2">
        Số điện thoại:
        <span class="text-primary">{{ order?.shipPhone }}</span>
      </p>
      <p class="mb-2">
        Địa chỉ:
        <span class="text-primary">{{ order.address }}, {{ order.wardName }}, {{ order.districtName }},
          {{ order.cityName }}</span>
      </p>
      <p class="mb-4">
        Ghi chú:
        <span class="text-primary"> {{ order.note }}</span>
      </p>
      <div class="table-responsive">
        <table class="table table-centered table-nowrap">
          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of order.orderDetail">
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">
                    {{ data.productDetailId.product.name }}
                  </h5>
                  <p class="text-muted mb-0">
                    Màu: <strong>{{ data.productDetailId.color.name }}</strong>
                  </p>
                  <p class="text-muted mb-3">
                    Size: <strong>{{ data.productDetailId.size.code }}</strong>
                  </p>
                </div>
              </td>
              <td>
                {{ data.quantity }}
              </td>
              <td>
                <p class="text-muted mb-0">
                  <strong>{{
                    (
                    data?.unitprice -
                    (data?.unitprice * data?.discount) / 100
                    ).toLocaleString("vi-VN")
                    }}đ</strong>
                </p>

                <p *ngIf="data?.discount > 0">
                  <del>{{ data?.unitprice?.toLocaleString("vi-VN") }}đ</del>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-end">Thành tiền:</h6>
              </td>
              <td>{{ getTamTinh()?.toLocaleString("vi-VN") }}đ</td>
            </tr>
            <tr *ngIf="order.voucher">
              <td colspan="2">
                <h6 class="m-0 text-end">
                  Voucher({{ order?.voucher?.code }}):
                </h6>
              </td>
              <td>-{{ getTotalVoucher()?.toLocaleString("vi-VN") }}đ</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-end">Phí vận chuyển:</h6>
              </td>
              <td>{{ order.freight?.toLocaleString("vi-VN") }}đ</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-end">Tổng:</h6>
              </td>
              <td>{{ order.total?.toLocaleString("vi-VN") }}đ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="openBill(order)" class="btn btn-success">
        <i class="mdi mdi-printer font-size-14 me-2"></i>
        In
      </button>
      <button *ngIf="order.status === 1" (click)="openModalEdit(order)" class="btn btn-primary">
        <i class="mdi mdi-pencil font-size-14 me-2"></i>
        Sửa
      </button>
      <button class="btn btn-secondary" (click)="modal.close('Close click')">
        Close
      </button>
    </div>
  </ng-template>
  <ng-template #edit role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Sửa thông tin đơn hàng</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="save()" [formGroup]="formData">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Người mua</label>
              <input class="form-control" placeholder="Nhập họ và tên" type="text" name="title" autocomplete="off"
                formControlName="name" />
              <!-- <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <span *ngIf="form.name.errors.required">Dữ liệu trống</span>
                [ngClass]="{ 'is-invalid': submitted && form.name.errors }" 
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Số điện thoại</label>
              <input class="form-control" placeholder="Nhập số điện thoại" type="text" name="title" autocomplete="off"
                formControlName="phone" />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Tỉnh thành</label>
              <ng-select formControlName="province" [items]="selectProvince" bindLabel="ProvinceName"
                bindValue="ProvinceID" (change)="onChangeProvince(formData.get('province').value)"></ng-select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Quận/Huyện</label>
              <ng-select [items]="selectDistrict" bindLabel="DistrictName" bindValue="DistrictID"
                (change)="onChangeDistrict(formData.get('district').value)" formControlName="district"></ng-select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Phường/Xã</label>
              <ng-select [items]="selectWard" bindLabel="WardName" bindValue="WardCode" (change)="onChangeWard()"
                formControlName="ward"></ng-select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Địa chỉ chi tiết</label>
              <input class="form-control" placeholder="Nhập địa chỉ chi tiết" type="text" name="title"
                autocomplete="off" formControlName="address" />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="control-label">Địa chỉ chi tiết</label>
              <textarea class="form-control" placeholder="Nhập ghi chú" type="text" name="title" autocomplete="off"
                formControlName="note"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" id="btn-save-event">
          Lưu
        </button>
      </form>
    </div>
  </ng-template>
</div>
<!-- end table -->