<h6 class="product-title">Plash Sale</h6>
<div class="timer">
    <p id="demo">
      <span >
        <span class="timer-num">{{ days }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Ngày</span>
      </span>
      <span>
        <span class="timer-num">{{ hours }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Giờ</span>
      </span>
      <span>
        <span class="timer-num">{{ minutes }}</span>
        <span class="padding-l">:</span>
        <span class="timer-cal">Phút</span>
      </span>
      <span>
        <span class="timer-num">{{ seconds }}</span>
        <span class="timer-cal">Giây</span>
      </span>
    </p>
</div>