<div class="collection-collapse-block" [class.open]="collapse" *ngIf="filterbydesign.length">
    <h3 [ngClass]="'collapse-block-title ' + (collapse ? 'arrowup' : '')" (click)="collapse = !collapse">Thiết kế</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter color-filter">
            <div class="custom-control custom-checkbox collection-filter-checkbox">
                <li *ngFor="let design of filterbydesign">
                    <input type="checkbox" [value]="design" [checked]="checked(design)" [id]="design"
                        (change)="appliedFilter($event)" class="custom-control-input" />
                    <label class="custom-control-label" [ngClass]="{'checked': checked(design)}" for="{{design}}">
                        {{design}}
                    </label>
                </li>
            </div>
        </div>
    </div>
</div>