@import "../../../assets/css/vendor.min.css";
@import "../../../assets/css/default/app.min.css";

.app-content {
  margin-left: 0 !important;
}

.pos-content {
  overflow-x: hidden !important;
}

.total-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  line-height: 40px;
}

.form {
  position: relative;
  width: 50%;
}

.form .fa-search {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 40px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
.btn-scanner-set {
  background: #7367f0;
  max-width: 160px;
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.btn-scanner-set:hover {
  background-color: #fe9f43;
  color: #fff;
}

.form-group {
  margin-bottom: 25px;
}
.form-group label {
  margin-bottom: 8px;
  color: #212b36;
  font-weight: 500;
  font-size: 14px;
  display: block;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="password"] {
  border: 1px solid rgba(145, 158, 171, 0.32);
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #637381;
  padding: 10px 15px;
  border-radius: 5px;
}
.form-group textarea {
  border: 1px solid rgba(145, 158, 171, 0.32);
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #637381;
  padding: 10px 15px;
  border-radius: 5px;
}
.bill-nav {
  overflow-x: auto;
  white-space: nowrap;
}
.pos-sidebar .nav-item {
  width: 135px !important;
  flex: none;
  border: 1px solid white;
}
.pos-sidebar .nav-tabs {
  display: flex;
  flex-wrap: nowrap;
}

.pos-sidebar .nav-item {
  white-space: nowrap;
  display: inline-block;
}
.btn-pos {
  background-color: #00acac;
  color: white;
}

.pos-table-row {
  padding: 15px 0;
  margin: 0;
  position: relative;
}
.pos-table-row + .pos-table-row {
  border-top: 1px solid #dfdddd !important;
}
.pos-table-row > div {
  padding: 0;
}
.pos-table-row > div .price {
  font-size: 0.875rem;
  font-weight: 600;
}
.pos-table-row > div.total-qty {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}
.pos-table-row > div.total-price {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: right;
  text-align: right;
}
.pos-table-row > div a {
  display: inline-block;
}
.pos-table-row > div .pos-product-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pos-table-row > div .pos-product-thumb .img {
  width: 30%;
  height: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.pos-table-row > div .pos-product-thumb .img + .info {
  padding-left: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pos-table-row > div .pos-product-thumb .info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pos-table-row > div .pos-product-thumb .info .title {
  font-weight: 600;
  font-size: 14px;
}
.pos-table-row > div .pos-product-thumb .info .single-price {
  font-weight: 600;
  color: #2d353c;
}

.pos-sidebar-footer {
  position: relative;
  padding: 10px 25px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pos-sidebar-footer .price {
  font-weight: 600;
  text-align: right;
}
.pos-sidebar-footer .subtotal,
.pos-sidebar-footer .taxes,
.pos-sidebar-footer .total {
  line-height: 28px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.pos-sidebar-footer .subtotal .text,
.pos-sidebar-footer .taxes .text,
.pos-sidebar-footer .total .text {
  width: 72%;
  text-align: right;
}
.pos-sidebar-footer .subtotal .price,
.pos-sidebar-footer .taxes .price,
.pos-sidebar-footer .total .price {
  width: 28%;
  font-size: 0.875rem;
}
.pos-sidebar-footer .total {
  line-height: 36px;
}
.pos-sidebar-footer .total .price {
  font-size: 28px;
}
.pos-sidebar-footer .btn-row {
  padding: 10px 0 0;
  margin: 0 -25px -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pos-sidebar-footer .btn-row .btn {
  display: block;
  padding: 10px 15px;
  font-size: 0.875rem;
  min-width: 100px;
  text-align: center;
  position: relative;
  border-radius: 0;
}
.pos-sidebar-footer .btn-row .btn i {
  display: block;
  margin: 8px auto 5px;
}
.pos-sidebar-footer .btn-row .btn + .btn:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 2px;
  background: #20252a;
  left: -1px;
}
.pos-sidebar-footer .btn-row .btn.btn-default {
  background: #495057;
  border: none;
  color: #fff;
}
.pos-sidebar-footer .btn-row .btn.btn-default:hover {
  background: #6c757d;
}
.pos-sidebar-footer .btn-row .btn.btn-primary,
.pos-sidebar-footer .btn-row .btn.btn-success {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pos-sidebar-footer .text {
  width: 100% !important;
  text-align: left !important;
}

.pos-sidebar-footer .price{
  width: 100% !important;
  text-align: right !important;
}
.nav-container ::-webkit-scrollbar {
  width: 0;
}

.nav-container li{
  cursor: pointer;
}