.info-1 {
  text-align: center;
  padding: 30px 19px;
}
.col-left-ac .block-account .info-1 img {
  display: block;
  margin: 0 auto 20px;
}
.info-1 p {
  margin-bottom: 5px;
}
.info-1 a {
  display: block;
  line-height: 24px;
  background: #357ebd;
  color: #fff;
  border-radius: 12px;
}
li:nth-child(1) .title-info,
li:nth-child(1) .title-info.active {
  background-image: url(../../../../assets/images/user.png);
}
li:nth-child(2) .title-info,
li:nth-child(2) .title-info.active {
  background-image: url(../../../../assets/images/clipboard.png);
}
li:nth-child(3) .title-info,
li:nth-child(3) .title-info.active {
  background-image: url(../../../../assets/images/location.png);
}
li:nth-child(4) .title-info,
li:nth-child(4) .title-info.active {
  background-image: url(../../../../assets/images/history.png);
}
li .title-info {
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 50px;
  background-position: 18px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
}
li:before {
  display: none !important;
}
li .title-info.active {
  background-color: #b8dcfb;
  color: black;
}
li .title-info:hover {
  background-color: #b8dcfb;
  color: black;
}

.bubble {
  border-radius: 50px;
  padding: 3px 10px;
  background-color: #357ebd;
  color: white !important;
}
.main-cart-page {
  background: #f8f8f8;
  padding: 40px 0 0;
}

.main-cart-page .ajaxcart-loading-item {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
}

.main-cart-page .ajaxcart-loading-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

.main-cart-page .CartPageContainer {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.main-cart-page .CartPageContainer .ajaxcart-loading {
  margin-bottom: 40px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart_body .title {
  color: #357ebd;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart_image {
  background: #f3f3f3;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart_name a {
  background: #f3f3f3;
  height: 30px;
  border-radius: 13px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .variant-title {
  background: #f3f3f3 !important;
  width: 86px;
  height: 30px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart-price {
  height: 30px;
  background: #f3f3f3;
  margin: 0 10px;
  border-radius: 13px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart_select {
  height: 30px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart_prices {
  height: 30px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .cart__btn-checkout {
  height: 30px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
}

.main-cart-page .CartPageContainer .ajaxcart-loading .grid-qty,
.main-cart-page .CartPageContainer .ajaxcart-loading .cart_select,
.main-cart-page .CartPageContainer .ajaxcart-loading .grid {
  border-radius: 13px;
  height: 30px;
}

.main-cart-page .CartPageContainer .ajaxcart {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.main-cart-page .CartPageContainer .ajaxcart__inner {
  border-radius: 4px;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .items-available {
  background: #fff;
  padding-bottom: 15px;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .items-not-available {
  background: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.main-cart-page
  .CartPageContainer
  .ajaxcart__inner
  .items-not-available
  .text-not-availables {
  color: #cd151c;
  position: absolute;
  right: 0px;
  top: 38px;
  opacity: 1;
  z-index: 999;
}

.main-cart-page
  .CartPageContainer
  .ajaxcart__inner
  .items-not-available
  .ajaxcart__row {
  opacity: 0.5;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .line-lineitem {
  height: 1px;
  background: #c4c4c4;
  margin: 10px 10px 0 10px;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .line-lineitem:last-child {
  height: 1px;
  background: unset;
  margin: unset;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .title {
  margin: 0;

  padding: 20px;
  font-size: 16px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .title .total-cart {
  padding-left: 21px;
  color: #7a7a9d;
  font-family: "SVN-Gilroy";
  font-weight: 500;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .title a {
  font-size: 14px;
  //   background: url(buy-continue.svg) right 10px center #feeeea no-repeat;
  padding: 0 42px 0 20px;
  line-height: 40px;
  border-radius: 4px;
  float: right;
  color: #357ebd;
  margin-top: 10px;
}

.main-cart-page .CartPageContainer .ajaxcart__inner .title a:hover {
  background-color: #efc7bc;
}

.main-cart-page .CartPageContainer .ajaxcart__footer_noti {
  padding: 4px 20px;
  background: #feecc7;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: 576px) {
  .main-cart-page .CartPageContainer .ajaxcart__footer_noti {
    border-radius: 4px 4px 0 0;
  }
}

.main-cart-page .CartPageContainer .ajaxcart__footer {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

.main-cart-page .CartMobileContainer {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.main-cart-page .CartMobileContainer .title {
  color: #357ebd;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading {
  margin-bottom: 40px;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_body .title {
  color: #357ebd;
}

.main-cart-page
  .CartMobileContainer
  .ajaxcart-loading
  .cart_body
  .cart_product {
  width: 100%;
  display: flex;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_body .cart_info {
  padding-left: 15px;
  vertical-align: top;
  display: flex;
  width: 100%;
}

.main-cart-page
  .CartMobileContainer
  .ajaxcart-loading
  .cart_body
  .cart_info
  .grid {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_image {
  background: #f3f3f3;
  width: 90px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_name {
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  margin-bottom: 5px;
  position: relative;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_name a {
  background: #f3f3f3;
  height: 30px;
  border-radius: 13px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  display: block;
  color: #000;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .variant-title {
  background: #f3f3f3 !important;
  width: 86px;
  height: 25px;
  display: inline-block;
  font-size: 14px;
  background: #f8f8f8;
  line-height: 26px;
  padding: 0 12px;
  border-radius: 13px;
  color: #363636;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart-price {
  height: 25px;
  background: #f3f3f3;
  margin: 0 10px;
  border-radius: 13px;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_select {
  height: 25px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart_prices {
  height: 25px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
  width: 60px;
}

.main-cart-page .CartMobileContainer .ajaxcart-loading .cart__btn-checkout {
  height: 25px;
  background: #f3f3f3;
  margin: 0 10px;
  display: block;
  border-radius: 13px;
}

.main-cart-page .CartMobileContainer .ajaxcart {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.main-cart-page .CartMobileContainer .ajaxcart__inner {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
}

.main-cart-page .CartMobileContainer .ajaxcart__inner .title {
  margin: 0;

  line-height: 60px;
  font-size: 16px;
}

.main-cart-page .CartMobileContainer .ajaxcart__inner .title .total-cart {
  color: #7a7a9d;
  font-family: "SVN-Gilroy";
}

.main-cart-page .CartMobileContainer .ajaxcart__inner .title a {
  font-size: 14px;
  //   background: url(buy-continue.svg) right 10px center #feeeea no-repeat;
  padding: 0 42px 0 20px;
  line-height: 40px;
  border-radius: 4px;
  float: right;
  color: #357ebd;
  margin-top: 10px;
}

.main-cart-page .CartMobileContainer .ajaxcart__inner .title a:hover {
  background-color: #efc7bc;
}

.main-cart-page .CartMobileContainer .ajaxcart__footer {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.main-cart-page .section_product_new {
  padding: 30px 0;
  background: #fff;
}

.main-cart-page .section_product_new .title-block h2 {
  font-size: 26px;
}

.main-cart-page .item_product_main .product-info .option-swath .swatch label {
  background: #e5e5e5;
}

.buy-gift {
  background: #fff;
  padding: 30px 0 0;
}

.buy-gift .row {
  max-height: 420px;
  overflow: auto;
}

.buy-gift .row::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.buy-gift .row::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.buy-gift .row::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.buy-gift .title {
  margin: 0 -20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background: #357ebd;
  color: #fff;

  font-size: 16px;
}

.buy-gift .list-gift {
  background: #fff5e2;
  padding: 0 20px 10px;
  border-radius: 4px;
  overflow: hidden;
}

.buy-gift .list-gift .item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buy-gift .list-gift .item .image_thumb {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  max-width: 140px;
  overflow: hidden;
  margin-right: 15px;
}

.buy-gift .list-gift .item h3 {
  font-size: 16px;

  margin-bottom: 10px;
}

.buy-gift .list-gift .item .add_to_cart_gift {
  background: #357ebd;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}

.buy-gift .list-gift .item .add_to_cart_gift i {
  font-size: 10px;
  position: relative;
  top: -1px;
}

.buy-gift .list-gift .item .add_to_cart_gift.picked {
  opacity: 0.5;
}

.CartSideContainer .cart--empty-message {
  text-align: center;
}

.CartSideContainer .cart--empty-message svg {
  width: 80px;
  margin: 15px;
}

.cart-sidebar {
  position: fixed;
  width: 340px;
  top: 0 !important;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 999999;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: none;
  touch-action: manipulation;
  right: 0;
}

.cart-sidebar.active {
  visibility: visible;
  transform: translateX(0);
}

.cart-sidebar .cart_heading {
  padding: 15px 15px;
  display: block;
  position: relative;
}

.cart-sidebar .cart_heading .cart_title {
  margin-bottom: 0;
  text-align: left;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  color: #222;
  font-weight: 600;
}

.cart-sidebar .cart_heading .cart_btn-close {
  position: absolute;
  margin-left: 0;
  right: 15px;
  top: 18px;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  z-index: 999;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.cart-sidebar .cart_heading .cart_btn-close svg {
  width: 15px;
  height: 15px;
  stroke-width: 1.5px;
}

.cart-sidebar .drawer__inner {
  width: 100%;
  height: 100%;
  background: #fff;
}

.cart-sidebar .cart_body {
  padding: 15px;
  height: calc(100vh - 210px);
  overflow-y: auto;
}

.cart-sidebar .cart_body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.cart-sidebar .cart_body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.cart-sidebar .cart_body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.cart-sidebar .cart_body .cart_product {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: table;
  width: 100%;
}

.cart-sidebar .cart_body .cart_image {
  display: table-cell;
  width: 24%;
  vertical-align: top;
  position: relative;
}

.cart-sidebar .cart_body .cart_info {
  padding-left: 15px;
  vertical-align: top;
}

.cart-sidebar .cart_body .cart_info .cart_name {
  margin-bottom: 5px;
}

.cart-sidebar .cart_body .cart_info .cart_name a {
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 18px;
  display: block;
  color: #000;
  font-family: "SVN-Gilroy";
  font-weight: 500;
}

.cart-sidebar .cart_body .cart_info .cart_name a:hover {
  color: #357ebd;
}

.cart-sidebar .cart_body .cart_info .variant-title {
  display: block;
  font-size: 12px;
}

.cart-sidebar .cart_body .grid {
  display: flex;
}

.cart-sidebar .cart_body .grid .cart_item_name {
  width: 50%;
}

.cart-sidebar .cart_body .grid .cart_item_name .cart_quantity {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: normal;
  color: #333;
}

.cart-sidebar .cart_body .grid .cart_prices {
  width: 50%;
}

.cart-sidebar .cart_body .grid .cart_prices .cart-price {
  font-weight: bold;
  display: block;
  font-size: 14px;
  color: red;
}

.cart-sidebar .cart_body .grid .cart__btn-remove {
  font-size: 13px;
  color: #30656b;
}

.cart-sidebar .cart_body .cart_select input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  font-size: 14px;
  margin: 0;
  float: left;
  border-left: none;
  border-right: none;
}

.cart-sidebar .cart_body .cart_select button {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
  float: left;
}

.cart-sidebar .cart_body .cart_select button.btn-minus {
  border-right: 0;
}

.cart-sidebar .cart_body .cart_select button.btn-plus {
  border-left: 0;
}

.cart-sidebar .ajaxcart__footer {
  padding: 10px;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__col-6 {
  width: 65%;
  float: left;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle {
  width: 35%;
  float: left;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
  color: red;
  font-weight: bold;
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt {
  display: block;
  position: relative;
  padding-top: 20px;
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
  width: 100%;
  background-color: #357ebd;
  color: #fff;
  text-align: center;
  line-height: 34px;
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
  background-color: #357ebd;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.cart-page .cart--empty-message {
  text-align: center;
  color: #7a7a9d;
  margin-bottom: 30px;
}

.cart-page .cart--empty-message a {
  display: inline-block;
  width: 343px;
  max-width: 90%;
  border: 1px #357ebd solid;
  background: #357ebd;
  color: #fff;
  line-height: 46px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 9px;
  font-size: 18px;
}

.cart-page .cart--empty-message a.buy-now {
  border-color: #7a7a9d;
  background: #fff;
  color: #7a7a9d;
}

.cart-page .cart-header-info {
  padding: 20px 0 0;
  background: white;

  font-weight: bold;
}

.cart-page .cart-header-info div:nth-child(1) {
  text-align: left;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 51%;
  flex: 0 0 51%;
  max-width: 51%;
}

@media (min-width: 992px) {
  .cart-page .cart-header-info div:nth-child(1) {
    -ms-flex: 0 0 54%;
    flex: 0 0 54%;
    max-width: 54%;
  }
}

.cart-page .cart-header-info div:nth-child(2) {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 15%;
  max-width: 15%;
}

.cart-page .cart-header-info div:nth-child(3) {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  max-width: 16%;
}

.cart-page .cart-header-info div:nth-child(4) {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.cart-page .cart-header-info-title {
  display: flex;
  padding: 12px 0;
  background: #fff4db;
  font-family: "SVN-Gilroy";
}

.cart-page .cart-header-info-title div:nth-child(1) {
  text-align: left;
  padding-left: 30px;
}

.cart-page .cart-header-info-title div:nth-child(2) {
  font-weight: bold;
  margin-left: 4px;
}

.cart-page .cart_body .ajaxcart__row {
  padding: 20px 20px 0;
  position: relative;
}

.cart-page .cart_body .ajaxcart__row .cart_product {
  width: 100%;
  display: flex;
  position: relative;
}

.cart-page .cart_body .ajaxcart__row:first-child {
  border-top: none;
}

.cart-page .cart_body .ajaxcart__row:last-child {
  padding-bottom: 20px;
}

.cart-page .cart_body .ajaxcart__row.gift .grid-qty,
.cart-page .cart_body .ajaxcart__row.gift .grid-price {
  display: none !important;
}

.cart-page .cart_body .ajaxcart__row.gift-by-price .grid-price-1 {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #cd151c;
}

.cart-page .cart_body .ajaxcart__row.gift-by-price .cart_prices .cart-price {
  color: #cd151c !important;
}

.cart-page .cart_body .ajaxcart__row.gift-by-price .grid-qty {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #17191c;
}

.cart-page .cart_body .ajaxcart__row.gift-by-price .grid-qty .input-group-btn {
  display: none !important;
}

.cart-page .cart_body .cart_image {
  width: 90px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-page .cart_body .cart_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.cart-page .cart_body .remove-item-cart {
  background: url(https://bizweb.dktcdn.net/100/438/408/themes/913235/assets/trash_new.svg?1688174049090)
    left center no-repeat;
  height: 24px;
  width: 24px;
  top: 0px;
  right: 0px;
  position: absolute;
}

@media (min-width: 768px) {
  .cart-page .cart_body .remove-item-cart {
    top: unset;
    bottom: 0px;
    right: 0px;
  }
}

.cart-page .cart_body .cart_info {
  padding-left: 15px;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  width: calc(100% - 97px);
  -webkit-width: calc(100% - 97px);
  -moz-width: calc(100% - 97px);
  -o-width: calc(100% - 97px);
  -os-width: calc(100% - 97px);
}

@media (min-width: 768px) {
  .cart-page .cart_body .cart_info {
    align-content: unset;
  }
}

.cart-page .cart_body .cart_info .cart_name {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 45px;
  order: 1;
  margin-bottom: 5px;
  position: relative;
}

@media (min-width: 768px) {
  .cart-page .cart_body .cart_info .cart_name {
    -ms-flex: 0 0 45%;
    flex: 0 0 42%;
    max-width: 42%;
    padding-right: 0;
    order: unset;
  }
}

@media (min-width: 992px) {
  .cart-page .cart_body .cart_info .cart_name {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.cart-page .cart_body .cart_info .cart_name a {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  display: block;
  color: #000;
}

.cart-page .cart_body .cart_info .cart_name a:hover {
  color: #357ebd;
}

.cart-page .cart_body .cart_info .cart_name .remove-item-cart {
  display: block;
  color: #dd011b;
  font-weight: 300;
  padding-left: 26px;
  //   background: url(remove_cart.svg) left center no-repeat;
  display: initial;
}

.cart-page .cart_body .cart_info .cart_name p {
  margin: 0;
  font-style: italic;
  color: #9e9e9e;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart {
  font-style: initial;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart a {
  display: initial;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .remove-item-cart {
  margin-right: 34px;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart {
  color: #7a7a9d;
  display: inline-block;
  width: 218px;
  position: relative;
  vertical-align: top;
  top: 2px;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart a {
  height: 18px;
  display: block;
  margin: 0;
  position: relative;
  z-index: 9;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart a svg,
.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart a img {
  width: 18px;
  height: 18px;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart span {
  position: absolute;
  left: 21px;
  top: 0;
  line-height: 18px;
}

.cart-page .cart_body .cart_info .cart_name p.remove-cart .like-cart.active {
  color: #357ebd;
}

.cart-page .cart_body .cart_info .variant-title {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  border-radius: 13px;
  color: #363636;
  font-family: "SVN-Gilroy";
  position: absolute;
  bottom: 0px;
  font-weight: 500;
}

.cart-page .cart_body .cart_item_name {
  width: 60%;
}

.cart-page .cart_body .grid {
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  max-width: 17%;
  text-align: center;
}

@media (min-width: 992px) {
  .cart-page .cart_body .grid {
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
}

.cart-page .cart_body .grid .cart_prices .cart-price {
  display: block;
  font-size: 14px;
  color: #000000;
}

.cart-page .cart_body .grid .cart-price-red {
  color: #cd151c !important;
}

.cart-page .cart_body .grid .cart-price-original {
  font-family: "SVN-Gilroy";
  display: block;
  font-size: 14px;
  color: #8a8a8f;
  position: relative;
}

.cart-page .cart_body .grid .cart-price-original:after {
  content: "";
  width: 63%;
  background: #8a8a8f;
  position: absolute;
  top: 9px;
  left: 18px;
  height: 1px;
}

@media (max-width: 992px) {
  .cart-page .cart_body .grid .cart-price-original:after {
    width: 100%;
    top: 9px;
    left: 0;
  }
}

.cart-page .cart_body .grid .cart__btn-remove {
  font-size: 13px;
  color: #30656b;
}

.cart-page .cart_body .grid .cart_quantity {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: normal;
  color: #333;
}

.cart-page .cart_body .grid.grid-qty {
  -ms-flex: 1;
  flex: 1;
  order: 4;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-page .cart_body .grid.grid-qty .variant-title-mobile {
  padding-bottom: 8px;
  order: 1;
}

.cart-page .cart_body .grid.grid-qty .cart_select {
  order: 2;
}

@media (min-width: 768px) {
  .cart-page .cart_body .grid.grid-qty {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    order: unset;
    align-items: unset;
    flex-direction: row;
    justify-content: center;
  }
}

.cart-page .cart_body .grid.grid-price-1 {
  order: 6;
}

@media (min-width: 768px) {
  .cart-page .cart_body .grid.grid-price-1 {
    order: unset;
  }
}

@media (max-width: 767.98px) {
  .cart-page .cart_body .grid.grid-price-1 {
    text-align: right;
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .cart-page .cart_body .grid.grid-price-1 .new-price {
    order: 2;
  }

  .cart-page .cart_body .grid.grid-price-1 .old-price {
    order: 1;
  }
}

.cart-page .cart_body .grid.grid-price-2 {
  order: 5;
}

@media (min-width: 768px) {
  .cart-page .cart_body .grid.grid-price-2 {
    order: unset;
  }
}

.cart-page .cart_body .grid.grid-price-2 .cart-price {
  text-align: right;
}

.cart-page .cart_body .cart_select input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 26px;
  border: 1px solid #d9d9d9;
  height: 36px;
  font-size: 14px;
  margin: 0;
  float: left;
  border-left: none;
  border-right: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #62676d;
  background-color: #fff;
}

.cart-page .cart_body .cart_select button {
  border-radius: 0;
  line-height: 24px;
  padding: 0;
  margin: 0;
  width: 37px;
  background-color: #fff;
  height: 36px;
  float: left;
  border: 1px solid #d9d9d9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #62676d;
  font-size: 20px;
}

.cart-page .cart_body .cart_select button .icon {
  background-size: 8px 8px;
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  opacity: 0.8;
}

.cart-page .cart_body .cart_select button:disabled {
  color: #dedddd;
}

.cart-page .cart_body .cart_select button:disabled .icon {
  opacity: 0.25;
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--minus {
  border-radius: 4px 0 0 4px;
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--minus .icon {
  //   background-image: url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/i-minus.svg?1688174049090);
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--plus {
  border-radius: 0 4px 4px 0;
}

.cart-page .cart_body .cart_select button.ajaxcart__qty--plus .icon {
  //   background-image: url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/i-plus.svg?1688174049090);
}

.cart-page .ajaxcart__footer .ship-cart {
  padding: 18px 15px 18px 64px;
  //   background: #f8f8f8
  //     url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/ship-cart.png?1688174049090)
  //     10px 20px no-repeat;
  line-height: 1.3;
  margin-bottom: 35px;
  background-size: 44px;
}

.cart-page .ajaxcart__footer .ship-cart > b {
  font-weight: initial;

  display: block;
  font-size: 16px;
}

.cart-page .ajaxcart__footer .ship-cart a {
  color: #357ebd;
}

.cart-page .ajaxcart__footer .ship-cart span b {
  color: #357ebd;
}

.cart-page .ajaxcart__footer .ship-cart .pick-gift {
  color: #0056b3;
  cursor: pointer;
  font-style: initial;
}

.cart-page .ajaxcart__footer .delivery-cart {
  padding: 18px 15px 18px 64px;
  //   background: #f8f8f8
  //     url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/delivery-truck.svg?1688174049090)
  //     10px 20px no-repeat;
  line-height: 1.3;
  margin-bottom: 35px;
  background-size: 44px;
}

.cart-page .ajaxcart__footer .delivery-cart > b {
  font-weight: initial;

  display: block;
  font-size: 16px;
}

.cart-page .ajaxcart__footer .delivery-cart a {
  color: #357ebd;
}

.cart-page .ajaxcart__footer .delivery-cart span b {
  color: #357ebd;
}

.cart-page .ajaxcart__footer .delivery-cart .enough-money {
  display: "none";
}

.cart-page .ajaxcart__footer .delivery-cart .not-enough-money {
  display: "none";
}

.cart-page .ajaxcart__footer .delivery-cart .pick-gift {
  color: #0056b3;
  cursor: pointer;
  font-style: initial;
}

.cart-page .ajaxcart__footer .total-price-first {
  color: #8a8a8f;
  text-decoration: line-through;
}

.cart-page .ajaxcart__footer .cart__subtotal {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__col-6 {
  float: left;
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__totle {
  float: left;
}

.cart-page .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
  color: #000;
  font-size: 16px;
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt {
  display: block;
  position: relative;
  padding-top: 16px;
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
  width: 100%;
  background-color: #357ebd;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
  background-color: #357ebd;
}

.cart-mobile-page .cart--empty-message {
  text-align: center;
  color: #7a7a9d;
  margin-bottom: 20px;
}

.cart-mobile-page .cart--empty-message a {
  display: inline-block;
  width: 343px;
  max-width: 90%;
  border: 1px #357ebd solid;
  background: #357ebd;
  color: #fff;
  line-height: 46px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 9px;
  font-size: 18px;
}

.cart-mobile-page .cart--empty-message a.buy-now {
  border-color: #7a7a9d;
  background: #fff;
  color: #7a7a9d;
}

.cart-mobile-page .cart-item.gift .cart_item_name {
  display: none;
}

.timeline-gift,
#gift-cart-page,
.cart-page .ajaxcart__footer .ship-cart,
.cartheader .ship-cart {
  display: none !important;
}

.CartHeaderContainer {
  width: 477px;
  background-color: #fff;
}

.CartHeaderContainer .cart--empty-message {
  text-align: center;
  padding: 20px 0;
}

.CartHeaderContainer .cart--empty-message svg {
  width: 80px;
  margin: 15px;
}

.CartHeaderContainer .timeline-gift {
  padding: 0 15px;
}

.CartHeaderContainer .timeline-gift .receive {
  margin: 0;
}

.cartheader {
  margin-bottom: 0;
}

.cartheader .cart-top a {
  display: flex;
  align-items: center;
  color: #fff;
  //   background: #357EBD url(go_login.svg) right 19px center no-repeat;
  padding: 7px 40px 7px 15px;
}

.cartheader .cart-top a span {
  display: inline-block;
  line-height: 46px;
  border-right: 1px rgba(0, 0, 0, 0.2) solid;

  padding-right: 16px;
  margin-right: 16px;
  width: 115px;
}

.cartheader .cart_body {
  padding: 15px 15px 0;
  max-height: 360px;
  overflow-y: auto;
}

.cartheader .cart_body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.cartheader .cart_body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.cartheader .cart_body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.cartheader .cart_body .gift .grid-gift {
  display: none;
}

.cartheader .cart_body .cart_product {
  margin-bottom: 15px;
  display: table;
  width: 100%;
}

.cartheader .cart_body .cart_image {
  display: table-cell;
  width: 83px;
  vertical-align: top;
  position: relative;
}

.cartheader .cart_body .cart_info {
  padding-left: 15px;
  vertical-align: top;
}

.cartheader .cart_body .cart_info .cart_name {
  margin-bottom: 9px;
  position: relative;
  padding-right: 20px;
}

.cartheader .cart_body .cart_info .cart_name a {
  margin-bottom: 4px;
  display: block;
}

.cartheader .cart_body .cart_info .cart_name a:hover {
  color: #357ebd;
}

.cartheader .cart_body .cart_info .cart_name .cart-price {
  font-size: 16px;

  color: #357ebd;
  display: block;
  margin-bottom: 5px;
}

.cartheader .cart_body .cart_info .cart_name .remove-item-cart {
  //   background: url(remove_cart_nor.svg) center center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
}

.cartheader .cart_body .cart_info .cart_name .remove-item-cart:hover {
  //   background-image: url(remove_cart.svg);
}

.cartheader .cart_body .cart_info .variant-title {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  color: #363636;
  background: #f8f8f8;
  border-radius: 13px;
  padding: 0 12px;
}

.cartheader .cart_body .grid {
  display: flex;
}

.cartheader .cart_body .grid .cart_item_name {
  width: 50%;
}

.cartheader .cart_body .grid .cart_item_name .cart_quantity {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: normal;
  color: #333;
}

.cartheader .cart_body .grid .cart_prices {
  width: 50%;
}

.cartheader .cart_body .grid .cart_prices .cart-price {
  font-size: 16px;
  color: red;
}

.cartheader .cart_body .grid .cart__btn-remove {
  font-size: 13px;
  color: #30656b;
}

.cartheader .cart_body .cart_select input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 26px;
  border: 1px solid #7a7a9d;
  color: #222;
  height: 26px;
  margin: 0;
  float: left;
  border-left: none;
  border-right: none;
}

.cartheader .cart_body .cart_select button {
  border-radius: 0;
  border: 1px solid #7a7a9d;
  color: #222;
  line-height: 24px;
  padding: 0;
  margin: 0;
  width: 31px;
  background-color: #fff;
  height: 26px;
  float: left;
}

.cartheader .cart_body .cart_select button.ajaxcart__qty--minus {
  border-radius: 13px 0 0 13px;
}

.cartheader .cart_body .cart_select button.ajaxcart__qty--plus {
  border-radius: 0 13px 13px 0;
}

.cartheader .ship-cart {
  padding: 9px 10px;
  background: #f8f8f8;
  text-align: center;
}

.cartheader .ship-cart a,
.cartheader .ship-cart b {
  color: #357ebd;
}

.cartheader .ship-cart b {
  font-size: 16px;
  font-weight: initial;
}

.cartheader .ship-cart a.click {
  color: #0056b3;
  font-family: "SVN-Gilroy";
}

.cartheader .delivery-cart b {
  font-size: 16px;
  font-weight: initial;
  color: #357ebd;
}

.cartheader .ajaxcart__footer {
  padding: 10px;
}

.cartheader .ajaxcart__footer .cart__subtotal {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__col-6 {
  width: 50%;
  float: left;
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__totle {
  width: 100%;
  float: left;
}

.cartheader .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
  color: red;
  font-weight: bold;
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt {
  display: block;
  position: relative;
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
  width: 100%;
  background-color: #357ebd;
  color: #fff;
  text-align: center;
  line-height: 46px;
  padding: 0;
  font-size: 18px;
}

.cartheader .ajaxcart__footer .cart__btn-proceed-checkout-dt button:hover {
  background-color: #357ebd;
}

.cartheader .ajaxcart__footer .ajaxcart__subtotal {
  border-top: 1px #ebebeb solid;
  padding-top: 10px;
}

.cartPopupContainer {
  background-color: #fff;
}

.cartPopupContainer .cart--empty-message {
  text-align: center;
}

.cartPopupContainer .cart--empty-message svg {
  width: 80px;
  margin: 15px;
}

#popup-cart-desktop {
  width: 950px;
  max-height: 505px;
  height: auto;
  background: transparent;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 10%;
  display: none;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: none;
  touch-action: manipulation;
  z-index: -1;
}

#popup-cart-desktop.active {
  display: block;
  z-index: 9999;
  transform: translateX(-50%);
}

#popup-cart-desktop .header-popcart {
  position: relative;
  background: #fff;
}

#popup-cart-desktop .header-popcart .top-cart-header {
  font-size: 16px;
  padding-right: 15px;
  font-weight: 400;
  padding: 8px 20px;
  background: #363636;
  color: #fff;
}

#popup-cart-desktop .header-popcart .top-cart-header .cart-popup-name {
  color: #fff;
}

#popup-cart-desktop .header-popcart .top-cart-header .cart-popup-name:hover {
  opacity: 0.6;
}

#popup-cart-desktop .header-popcart .noti-cart-count {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
  color: #333333;
  padding: 10px 20px;
  display: block;
}

#popup-cart-desktop .header-popcart .cart_btn-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10000;
  color: #fff;
}

#popup-cart-desktop .header-popcart .cart_btn-close svg {
  width: 15px;
  height: 15px;
}

#popup-cart-desktop .cartpopup {
  margin-bottom: 0;
  background: #fff;
  padding: 0 20px 20px;
}

#popup-cart-desktop .cartpopup .cart-header-info {
  display: flex;
  padding: 7px 0;
  border: solid 1px #ebebeb;
  border-bottom: none;
  font-weight: bold;
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(1) {
  width: 53%;
  text-align: left;
  padding-left: 10px;
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(2) {
  width: 19%;
  text-align: center;
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(3) {
  width: 12%;
  text-align: center;
}

#popup-cart-desktop .cartpopup .cart-header-info div:nth-child(4) {
  width: 19%;
  text-align: center;
}

#popup-cart-desktop .cartpopup .cart_body {
  max-height: 268px;
  overflow-y: auto;
  border: solid 1px #ebebeb;
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #f5f5f5;
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

#popup-cart-desktop .cartpopup .cart_body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row {
  padding: 10px 0;
  border-top: solid 1px #ebebeb;
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row .cart_product {
  width: 100%;
  display: flex;
  align-items: center;
}

#popup-cart-desktop .cartpopup .cart_body .ajaxcart__row:first-child {
  border-top: none;
}

#popup-cart-desktop .cartpopup .cart_body .cart_image {
  width: 90px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-cart-desktop .cartpopup .cart_body .cart_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

#popup-cart-desktop .cartpopup .cart_body .cart_info {
  padding-left: 15px;
  vertical-align: top;
  padding-right: 10px;
  display: flex;
  width: calc(100% - 110px);
  -webkit-width: calc(100% - 110px);
  -moz-width: calc(100% - 110px);
  -o-width: calc(100% - 110px);
  -os-width: calc(100% - 110px);
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name {
  width: 50%;
  margin-bottom: 5px;
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name a {
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  color: #000;
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name a:hover {
  color: #357ebd;
}

#popup-cart-desktop
  .cartpopup
  .cart_body
  .cart_info
  .cart_name
  .remove-item-cart {
  display: block;
  color: #dd011b;
  font-weight: 300;
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .cart_name p {
  margin: 0;
  font-style: italic;
  color: #9e9e9e;
}

#popup-cart-desktop .cartpopup .cart_body .cart_info .variant-title {
  display: block;
  font-size: 12px;
}

#popup-cart-desktop .cartpopup .cart_body .cart_item_name {
  width: 60%;
}

#popup-cart-desktop .cartpopup .cart_body .grid {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart_prices .cart-price {
  font-weight: bold;
  display: block;
  font-size: 14px;
  color: red;
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart__btn-remove {
  font-size: 13px;
  color: #30656b;
}

#popup-cart-desktop .cartpopup .cart_body .grid .cart_quantity {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: normal;
  color: #333;
}

#popup-cart-desktop .cartpopup .cart_body .cart_select input {
  display: inline-block;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  font-size: 14px;
  margin: 0;
  float: left;
  border-left: none;
  border-right: none;
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
  float: left;
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button.btn-minus {
  border-right: 0;
}

#popup-cart-desktop .cartpopup .cart_body .cart_select button.btn-plus {
  border-left: 0;
}

#popup-cart-desktop .cartpopup .ajaxcart__footer {
  padding-top: 20px;
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal .cart__col-6 {
  width: 50%;
  float: left;
}

#popup-cart-desktop .cartpopup .ajaxcart__footer .cart__subtotal .cart__totle {
  width: 50%;
  float: left;
}

#popup-cart-desktop
  .cartpopup
  .ajaxcart__footer
  .cart__subtotal
  .cart__totle
  .total-price {
  color: red;
  font-weight: bold;
}

#popup-cart-desktop
  .cartpopup
  .ajaxcart__footer
  .cart__btn-proceed-checkout-dt {
  display: block;
  position: relative;
  padding-top: 0;
}

#popup-cart-desktop
  .cartpopup
  .ajaxcart__footer
  .cart__btn-proceed-checkout-dt
  button {
  width: 100%;
  background-color: #357ebd;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

#popup-cart-desktop
  .cartpopup
  .ajaxcart__footer
  .cart__btn-proceed-checkout-dt
  button:hover {
  background-color: #357ebd;
}

.buyxgety-module {
  background: #fff;
}

@media (min-width: 992px) {
  .buyxgety-module {
    padding-top: 30px;
  }
}

@media (min-width: 992px) {
  .buyxgety-module .sapo-buyxgety-module-cart {
    width: 1420px;
    max-width: calc(100% - 20px);
  }
}

@media (min-width: 1200px) and (max-width: 1700px) {
  .buyxgety-module .sapo-buyxgety-module-cart {
    max-width: 1240px;
  }
}

.buyxgety-module .module-buyxgety-cart {
  margin: 0;
  border: none;
}

.popup-cart-mobile {
  max-width: 300px;
  height: auto;
  background: #fff;
  width: 0px;
  top: 90% !important;
  left: calc(50% - 150px);
  -webkit-left: calc(50% - 150px);
  -moz-left: calc(50% - 150px);
  -o-left: calc(50% - 150px);
  -os-left: calc(50% - 150px);
  width: 100%;
  transform: translateX(-50%);
  position: fixed;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
  border-radius: 5px;
}

.popup-cart-mobile.active {
  visibility: visible;
  z-index: 9999;
  transform: scale(1);
  top: 50px !important;
  width: auto;
  left: calc(50% - 150px);
  -webkit-left: calc(50% - 150px);
  -moz-left: calc(50% - 150px);
  -o-left: calc(50% - 150px);
  -os-left: calc(50% - 150px);
}

@media (max-width: 767px) {
  .popup-cart-mobile.active {
    max-width: unset;
    width: calc(100% - 20px);
    left: 10px;
  }
}

.popup-cart-mobile .header-popcart .top-cart-header span {
  display: block;
  padding: 10px;
  background: #357ebd;
  font-weight: bold;
  color: #fff;
  padding-left: 35px;
}

.popup-cart-mobile .header-popcart .top-cart-header span svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 10px;
  filter: invert(1);
}

.popup-cart-mobile .media-content {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}

.popup-cart-mobile .media-content .thumb-1x1 {
  width: 70px;
}

.popup-cart-mobile .media-content .thumb-1x1 img {
  max-width: 100%;
  max-height: 100%;
}

.popup-cart-mobile .media-content .body_content {
  width: calc(100% - 70px);
  padding-left: 15px;
}

.popup-cart-mobile .media-content .body_content h4 {
  font-size: 14px;
  font-weight: bold;
}

.popup-cart-mobile .media-content .body_content .product-new-price {
  color: red;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.popup-cart-mobile .media-content .body_content .product-new-price b {
  margin-right: 15px;
}

.popup-cart-mobile .media-content .body_content .product-new-price span {
  color: #9e9e9e;
  background: none;
  padding: 0;
  font-size: 14px;
}

.popup-cart-mobile .noti-cart-count {
  font-size: 14px;
  color: #707070;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 10px;
}

.popup-cart-mobile .noti-cart-count span {
  display: inline-block;
  background: none;
  color: #333;
  padding: 0;
}

.popup-cart-mobile .iconclose {
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.popup-cart-mobile .iconclose svg {
  filter: invert(1);
}

.popup-cart-mobile .bottom-action {
  padding: 0 10px 10px;
  display: flex;
  flex-flow: column;
}

.popup-cart-mobile .tocontinued {
  background: #357ebd;
  font-weight: 400;
  line-height: 38px;
  display: block;
  padding: 0px 45px;
  border: solid 1px #357ebd;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 6px;
  margin-top: 0px;
  clear: both;
  text-align: center;
}

.popup-cart-mobile .checkout {
  height: 40px;
  line-height: 38px;
  width: 100%;
  background: #357ebd;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border: solid 1px #357ebd;
  float: right;
}

.timeline-free-delivery .buy label,
.timeline-free-delivery .receive label {
  color: #8a8a8f;
  font-size: 12px;
  width: 60px;
  vertical-align: middle;
  margin: 0;
}

.timeline-free-delivery .buy .detail,
.timeline-free-delivery .receive .detail {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 70px);
  position: relative;
}

.timeline-free-delivery .buy .detail .number-2,
.timeline-free-delivery .receive .detail .number-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

.timeline-free-delivery .buy .detail .number-3,
.timeline-free-delivery .receive .detail .number-3 {
  float: right;
  position: relative;
  top: 2px;
}

.timeline-free-delivery .buy span,
.timeline-free-delivery .receive span {
  color: #000;
  font-size: 12px;
}

.timeline-free-delivery .line {
  display: inline-block;
  width: 100%;
}

.timeline-free-delivery .line .detail {
  float: right;
  width: calc(100% - 85px);
  margin-right: 20px;
  background: #ffebc2;
  height: 8px;
  border: 1px #11006f solid;
  position: relative;
}

.timeline-free-delivery .line .detail .percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: #357ebd;
  transition: all 0.5s;
  border-radius: 4px;
  width: 0;
  border-radius: 4px 0 0 4px;
}

.timeline-free-delivery .line .detail:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -50px;
  background: #ffebc2;
  height: 8px;
  border: 1px #11006f solid;
  width: 50px;
  border-radius: 4px 0 0 4px;
}

.timeline-free-delivery .line .detail:before {
  content: "";
  position: absolute;
  top: 0;
  left: -49px;
  background: #357ebd;
  height: 6px;
  width: 60px;
  border-radius: 4px 0 0 4px;
  z-index: 8;
  transition: all 0.5s;
}

.timeline-free-delivery .line .detail .line-detail.active {
  // background: #00B929 url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/checkico.svg?1688174049090) center center no-repeat
}

.timeline-free-delivery .line .detail .line-1,
.timeline-free-delivery .line .detail .line-2,
.timeline-free-delivery .line .detail .line-3 {
  display: block;
  width: 16px;
  height: 16px;
  background: #ffebc2;
  border: 1px solid #11006f;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: -5px;
  z-index: 9;
}

.timeline-free-delivery .line .detail .line-1 {
  left: -8px;
}

.timeline-free-delivery .line .detail .line-2 {
  left: 50%;
  transform: translateX(-50%);
}

.timeline-free-delivery .line .detail .line-3 {
  right: -8px;
}

.timeline-free-delivery .line.active .detail:before {
  width: 50px;
}

.timeline-free-delivery .receive {
  margin-bottom: 13px;
}

.timeline-free-delivery .receive .number-1,
.timeline-free-delivery .receive .number-2,
.timeline-free-delivery .receive .number-3 {
  // background: url(//bizweb.dktcdn.net/100/438/408/themes/913235/assets/delivery-icon.svg?1688174049090) right center no-repeat;
  padding-right: 20px;
  height: 25px;
}

.timeline-free-delivery .result {
  margin-bottom: 10px;
}

.timeline-free-delivery .result .number {
  color: #357ebd;
  font-family: "SVN-Gilroy Semi";
}

.timeline-free-delivery .result a {
  float: right;
  color: #11006f;
  font-family: "SVN-Gilroy Semi";
}

.timeline-free-delivery .buy-ex {
  display: block;
  text-align: center;
  padding: 8px 10px;
  border: 1px #11006f solid;
  border-radius: 4px;
}

.timeline-free-delivery .buy-ex i {
  color: #11006f;
  font-style: initial;
}

.timeline-free-delivery .buy-ex b {
  font-weight: initial;
}

.timeline-gift .buy label,
.timeline-gift .receive label {
  color: #8a8a8f;
  font-size: 12px;
  width: 60px;
  vertical-align: middle;
  margin: 0;
}

.timeline-gift .buy .detail,
.timeline-gift .receive .detail {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 70px);
  position: relative;
}

.timeline-gift .buy .detail .number-2,
.timeline-gift .receive .detail .number-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

.timeline-gift .buy .detail .number-3,
.timeline-gift .receive .detail .number-3 {
  float: right;
  position: relative;
  top: 2px;
}

.timeline-gift .buy span,
.timeline-gift .receive span {
  color: #000;
  font-size: 12px;
}

.timeline-gift .line {
  display: inline-block;
  width: 100%;
}
