<app-breadcrumb [title]="'Lookbook'" [breadcrumb]="'Lookbook'"></app-breadcrumb>
<!-- section start -->
<section class="lookbook section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="lookbook-block">
                    <img src="https://bizweb.dktcdn.net/100/438/408/products/apn5206-xah-12.jpg?v=1688723432757"
                        class="img-fluid" alt="">
                    <div class="lookbook-dot" style="top: 56%;
                    left: 49%;">
                        <span>1</span>
                        <a [routerLink]="['/home/fashion']">
                            <div class="dot-showbox">
                                <img src="https://bizweb.dktcdn.net/100/438/408/products/apn5206-xah-13.jpg?v=1688723432757"
                                    class="img-fluid" alt="">
                                <div class="dot-info">
                                    <h5 class="title">Áo thun</h5>
                                    <h5>199.000đ</h5>
                                    <h6>Cam</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lookbook-dot" style="top: 86%;
                    left: 49%;">
                        <span>2</span>
                        <a [routerLink]="['/home/fashion']">
                            <div class="dot-showbox">
                                <img src="https://bizweb.dktcdn.net/100/438/408/products/apn5206-xah-3.jpg?v=1688723432757"
                                    class="img-fluid" alt="">
                                <div class="dot-info">
                                    <h5 class="title">Áo thun</h5>
                                    <h5>199.000đ</h5>
                                    <h6>Cam</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="lookbook-block">
                    <img src="assets/images/lookbook2.jpg" class="img-fluid" alt="">
                    <div class="lookbook-dot dot3">
                        <span>1</span>
                        <a [routerLink]="['/home/fashion']">
                            <div class="dot-showbox">
                                <img src="assets/images/product/fashion/2.jpg" class="img-fluid" alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lookbook-dot dot4">
                        <span>2</span>
                        <a [routerLink]="['/home/fashion']">
                            <div class="dot-showbox">
                                <img src="assets/images/product/fashion/2.jpg" class="img-fluid" alt="">
                                <div class="dot-info">
                                    <h5 class="title">tee</h5>
                                    <h5>200$</h5>
                                    <h6>details</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Section ends -->