.onhover-show-div a{
    font-size: 14px !important;
    min-width: 150px;
}
.onhover-show-div li {
    padding: 0 10px;
}
.onhover-show-div li a {
    margin: 0;
    display: block;
    padding: 5px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.onhover-show-div li.logout a {
    border-top: 1px solid #DDE1EF;
    padding-left: 35px;
    background: url(https://bizweb.dktcdn.net/100/438/408/themes/916476/assets/logout.svg) left 5px center no-repeat;
}
.header-mask {
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}
// header{
//     position: fixed;
//     width: 100%;
//     top: 0;
//     z-index: 999;
//     transition: all 300ms ease;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     box-shadow: 0px 0px 8px #ddd;
// }